.Smurf {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    border: 1px solid #EBEBEB;
    background-color: #fff;
    box-shadow: 5px 5px 15px #E3E3E3;
    padding: 30px;
    margin: 10px;
}

div.circleI {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 4px solid #000;
    color: #000;
    border-radius: 50%;
    font-size: 2.5em;
}

div.circleI.purple {
    color: #990033;
    border-color: #990033;
}

div.circleI.pink {
    color: #ffb3ba;
    border-color: #ffb3ba;
}

div.circleI.yellow {
    color: #dead07;
    border-color: #dead07;
}

div.circleI.green {
    color: #00996e;
    border-color: #00996e;
}

div.circleI.blue {
    color: #6a5acd;
    border-color: #6a5acd;
}

