.SmurfForm form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    border: 1px solid #EBEBEB;
    background-color: #fff;
    box-shadow: 5px 5px 15px #E3E3E3;
    padding: 30px;
    margin: 10px auto;
}

form input, form button {
    margin: 7px 0;
    padding: 10px;
}